/* siteHeader */
.siteHeader{
    padding: 8px 16px;
}
.siteHeader > h1 {}
/* end */

/* calendar */
.calendar{
    background-color: rgb(255,255,255);
    margin: 30px 16px;
    border-radius: 16px;
    color: rgb(51,51,51);
    
}

.calendar-header{
    text-align: center;
    padding: 16px 0 8px 0;
}
.calendar-header > time{
}

.calendar-weekdays{
    display: flex;
    padding: 0 8px;
}
.calendar-weekdays > li{
    width: 14.286%;
    text-align: center;
    height: 42px;
    line-height: 42px;
}

.calendar-days{
    display: flex;
    padding: 0 8px;
    flex-wrap: wrap;
}
.calendar-days > li{
    width: 14.286%;
    text-align: center;
    height: 42px;
    line-height: 42px;
}

.calendar-days > li.calendar-days-today{
    background-color: rgb(254,211,44);
    border-radius: 8px;
}

.calendar-days > li.calendar-days-selected{
    outline: 1px solid rgb(254,211,44);
    border-radius: 8px;
}

.calendar-days > li.calendar-days-disabled{
    color: rgb(204,204,204);
}


.calendar-actions{
    display: flex;
    padding: 14px 8px;
    justify-content: space-between;
}
.calendar-actions-left{}
.calendar-actions-left > button{
    font-size: 14px;
    padding: 3px 7px;
}

.calendar-actions-right{
    display: flex;
}
.calendar-actions-right > button {
    font-size: 14px;
    padding: 3px 7px;
}

/* end */













